<section class="message -left">
  <div class="nes-balloon from-left">
    {{ content|safe }}
    {% if modify %}
    <a class="nes-btn is-warning" href="{{ url_for('modify_comment', comment_id=comment.id) }}">Edit Comment</a>
    <br>
    {% endif %}
    {% if delete %}
    <form method="POST" action="{{ url_for('delete_comment', comment_id=comment.id) }}">
      <input type="submit" class="nes-btn is-error" value="Delete Comment" />
    </form>
    <br>
    {% endif %}
    <span class="nes-text is-primary">
      -<a href="{{ url_for('auth_userpage', uname = comment.author.username) }}">{{ comment.author.username }}</a>
    </span>
    {% if can_upvote %}
    <form method="POST" action="{{ url_for('vote_comment', comment_id=comment.id, is_up='True') }}">
      <input type="submit" class="nes-btn is-success" value="Upvote comment" />
    </form>
    {% endif %}
    {% if can_downvote %}
    <form method="POST" action="{{ url_for('vote_comment', comment_id=comment.id, is_up='False') }}">
      <input type="submit" class="nes-btn is-warning" value="Downvote comment" />
    </form>
    {% endif %}
    {{ upvotes }}
  </div>
</section>