{% extends "layout.html" %}

{% block body %}
<div class="nes-table-responsive">
  <table class="nes-table is-dark">
      {% for thread in threads %}
      <tr>
        <td>
          <a class="nes-text" href="{{ url_for('thread', thread_id=thread.id) }}">
            {{ thread.title }}
          </a>
        </td>
        <td>
          <span class="nes-text is-primary">
            By {{ thread.author.username }}
          </span>

        </td>
      </tr>
      {% endfor %}
  </table>
</div>
{% endblock %}
