{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('create_thread') }}">
  <table>
    <tr>
      <td>
        {{ form.title.label }}
      <td>
        {{ form.title }}
      <td>
        <ul>
          {% for error in form.title.errors %}
          <li> {{ error }}
          {% endfor %}
    <tr>
      <td>
        {{ form.content.label }}
      <td>
        {{ form.content }}
    <tr>
      <td colspan="2">
        <input type="submit" value="Create new thread"/>
{% endblock %}
