{% extends "layout.html" %}

{% block body %}
{% if thread_id %}
<form method="POST" action="{{ url_for('modify_thread', thread_id=thread_id)}}">
{% else %}
<form method="POST" action="{{ url_for('create_thread') }}">
{% endif %}
    <table>
      <tr>
      {% if form.title.errors|length > 0 %}
        <div class="nes-balloon from-left">
          {% for error in form.title.errors %}
          <span class="nes-text is-error"> {{ error }} </span>
          {% endfor %}
        </div>
      {% endif %}
        <td>
          <div class="nes-field is-inline">
            <label> {{ form.title.label }} </label>
            {{ form.title(class_="nes-input") }}
          </div>
        </td>
      <tr>
      {% if form.content.errors|length > 0 %}
        <div class="nes-balloon from-left">
          {% for error in form.content.errors %}
          <span class="nes-text is-error"> {{ error }} </span>
          {% endfor %}
        </div>
      {% endif %}
        <td>
          <div class="nes-field is-inline">
            <label> {{ form.content.label }} </label>
            {{ form.content(class_="nes-textarea") }}
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          {% if thread_id %}
          <input class="nes-btn" type="submit" value="Update first post"/>
          {% else %}
          <input class="nes-btn" type="submit" value="Create new thread"/>
          {% endif %}
        </td>
      </tr>
    </table>
{% endblock %}
